*~
*.dylib
*.la
*.lo
*.o
*.swp
.deps
.libs
autom4te.cache
config.guess
config.h
config.log
config.sub
config.status
libtool
stamp-h1
test_??-?
Makefile
tools/add_constants
tools/standard_form
tools/validate_content
tools/validate_structure
